DB_HOST=

POSTGRES_URL=postgresql://
POSTGRES_PRISMA_URL=postgresql://
POSTGRES_URL_NON_POOLING=postgresql://
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=

STEAM_API_KEY=

OPENAI_API_KEY=

# openssl rand -hex 16
SECRET_KEY=

NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# QUIRREL
# curl --user ignored:{PASSPHRASE} -X PUT {QUIRREL_API_URL}/tokens/dev
# QUIRREL_BASE_URL=
# QUIRREL_TOKEN=
# QUIRREL_ENCRYPTION_SECRET=
# QUIRREL_API_URL=